*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0 !important;

}
p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}
h2{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}

h3{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}

h4{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}

h5{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}
a{
    font-family: 'Poppins', sans-serif;
}
.navbar{
  z-index: 100;
  transition-duration: 0.3s;
  top: 0;
}
.links {
    display: inline-block;
    position: relative;
    font-size: 1rem !important;
    background-color: transparent !important;
  }


  .service-items span{
    font-size: 2.5rem;
    color: #3419AB !important;
  }
  .service-items p{
    font-size: 1rem;
    color: #3419AB !important;
    

  }
.dropdown-menu{
background-color: white !important;
}

  .links:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #3419AB;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .portfolio:hover{
    color: rgb(255, 255, 255) !important;
    background-color: #3419AB;
  }
  .contactus:hover{
    background-color: #200f6c !important;
  }
.service-dropdown a::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.145);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}
.custom-links:hover{
  color: #3419AB !important;
}
.tools svg{
  height: 3rem !important;
  fill: rgb(187, 187, 187);
}
.service-dropdown a:hover::before {
  bottom: 0;
  height: 100%;
}
.service-dropdown li{
  list-style-type: none;
  font-size: small;
}
.header{
  background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");
  height: 100vh;
  background-position: center center;
  object-fit: cover;
  background-size: cover;
}
.header-content h1{
  font-size: 5rem;
  color: #14b2d5;
}
.header-content p{
  color: rgb(181, 181, 181);
}
/* ***** */
.accordion-body{
  background-color: #161616 !important;
  color: white;
}

.accordion-button:focus{
  outline: none !important;
  box-shadow: none;
}
.accordion-button{
background-color: #161616 !important;
color: transparent !important;
font-size: 3rem !important;
color: #093a45 !important;
transition: 0.5s ease-in-out;
}
/* .accordion{
  --bs-accordion-bg=none;
} */
.accordion-button:focus {
color: #1ea4c2 !important;
} 
.accordion-button:hover{
color: #1ea4c2 !important;
}
.accordion-button:active{
  color: #1ea4c2 !important;
  }
.team h1{
  font-size: 7rem;
  background: -webkit-linear-gradient(50deg, #5bdbf8 30%, #ffffff 40%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #161616;
}
.accordion-button:focus {
  box-shadow: none !important;
  border-color: rgba(0,0,0,.125) !important;
}
.team-person{
  width: 13rem !important;
  height: 13rem !important;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-content h1{
    font-size: 3rem;
    color: #14b2d5;
  }
  .accordion-button{
    font-size: 1.5rem !important;
  }
  .team h1{
    font-size: 4rem;
  }
  .team-person{
    width: 5rem !important;
    height: 5rem !important;
  }
  .team p{
    font-size: 0.8rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .team-person{
    width: 7rem !important;
    height: 7rem !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .team-person{
    width: 13rem !important;
    height: 13rem !important;
  }
  .team h1{
    font-size: 7rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
