*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0 !important;

}
p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}
h2{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}

h3{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}

h4{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}

h5{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}
a{
    font-family: 'Poppins', sans-serif;
}
/*  */
.navbar{
    z-index: 100;
    transition-duration: 0.3s;
    top: 0;
  }
  .links {
      display: inline-block;
      position: relative;
      font-size: 1rem !important;
      background-color: transparent !important;
    }
  
  
    .service-items span{
      font-size: 2.5rem;
      color: #3419AB !important;
    }
    .service-items p{
      font-size: 1rem;
      color: #3419AB !important;
      
  
    }
  .dropdown-menu{
  background-color: white !important;
  }
  
    .links:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: #3419AB;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    .links:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    .portfolio:hover{
      color: rgb(255, 255, 255) !important;
      background-color: #3419AB;
    }
    .contactus:hover{
      background-color: #200f6c !important;
    }
  .service-dropdown a::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.145);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  .custom-links:hover{
    color: #3419AB !important;
  }
  .tools svg{
    height: 3rem !important;
    fill: rgb(187, 187, 187);
  }
  .service-dropdown a:hover::before {
    bottom: 0;
    height: 100%;
  }
  .service-dropdown li{
    list-style-type: none;
    font-size: small;
  }
/*  */
.header-sec h1{
    font-size: 7rem;

    background: 
    linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%) no-repeat
     calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
  transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
}
.header-sec h1:hover{
    --p: 100%;
    --t: .3s;
    color: #fff;
}
.header-sec h1::before{
    background-color: aqua;
    height: 1rem;
    width: 100%;
}
.industry-icons img{
    height: 5rem;
}
.industry-icons p{
    color: rgb(0, 0, 0);
    font-weight: 900 !important;
}

.industry-image img{
  max-width: 100%;
    max-height: 100%;
object-fit: cover;
}
.industry-content h1{
  color: aliceblue !important;
}
.industry-content p{
  color: rgb(217, 217, 217);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-sec h1{
    font-size: 4.5rem;
  }
  .industry-icons{
    width: 8rem !important;
    height: 8rem !important;
}
.industry-icons img{
  height: 4rem;
}
.industry-icons p{
  font-size: 0.8rem;
  color: black;
}
.industry-image{
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}
.industry-content h1{
  font-size: 2rem !important;
  color: aliceblue !important;
}
.industry-image img{
  height: 20rem;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .industry-icons{
    width: 8rem !important;
    height: 8rem !important;
}
.industry-icons img{
  margin-bottom: 0;
  height: 4rem !important;
}
.industry-icons p{
  font-size: 0.8rem;
}
  .industry-content h1{
    font-size: 2.5rem !important;
  }
  .industry-image{
    width: 18rem;
    height: 18rem;
    overflow: hidden;
  }
  .industry-image img{
    height: 18rem;
  }
  .industry-icons img{
    height: 5rem;
  }



  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .industry-icons{
    width: 11rem !important;
    height: 11rem !important;
}
  .industry-content h1{
  font-size: 4rem !important;
}
.industry-image{
  width: 23rem;
  height: 23rem;
  overflow: hidden;
}
.industry-image img{
  height: 23rem;
}
.industry-icons p{
  font-size: 1rem;
  margin-top: 1rem;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .industry-content h1{
    font-size: 5rem !important;
  }
}