*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0 !important;

}
p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}
h2{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}

h3{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}

h4{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}

h5{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}
a{
    font-family: 'Poppins', sans-serif;
}


.bg-overlay {
    background: url("../asserts/bg-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:40vh;
    width: 100%;
}
.main{
    margin-top: 10rem;
}
.industry{
    margin-top: 12rem !important;
}
.card-image{
background-repeat: no-repeat !important;
background-size: cover !important;
background-position: center center !important;
height: 100% !important;
width: auto !important;
-webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
opacity: 0%;
}
.card-icon{
    position: absolute;
    height: 5rem !important;
}
.ind-bg{
width: 12rem;
height: 12rem;
}
.col-2 h2{
    color: #00306e;
    font-size: small;
    font-weight: bold;
}
.card-image:hover{
   opacity: 50%; 
}
.ind-content img{
    height: 25rem;
    margin-top: 2rem;
    margin-left: 5rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}