*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0 !important;

}
p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}
h2{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}

h3{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}

h4{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}

h5{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0!important;
}
a{
    font-family: 'Poppins', sans-serif;
}

.header-icon img{
    height: 4rem;
}
.header-icon p{
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
}
.work-patter p{
    color: white;
    font-weight: 200;
    font-size: 1.5rem;
}
.work-patter h3{
    /* color: aqua !important; */
    font-size: 3rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #14b2d5;
    font-style: italic;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}